{% extends 'admin/base.html.twig' %}

{% block title %}Houses{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Manage houses</h1>
    <div class="text-right">
        <a href="{{ path('admin_houses_new') }}" class="btn btn-primary">+ Add</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for house in houses %}
            <tr>
                <td>{{ house.title }}</td>
                <td>
                    <a class="btn btn-secondary"
                       href="{{ path('admin_houses_edit', {id: house.id}) }}">Edit</a>
                    <form action="{{ path('admin_houses_delete', {id: house.id}) }}"
                          method="POST"
                          class="d-inline-block"
                          onsubmit="return confirm('Are you sure you want to delete this record ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ house.id) }}">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
