{% block _house_attachments_widget %}
    {{ form_widget(form) }}
    <input type="hidden" value="0" id="widget_counter">
    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-primary"> Add image</button>
    </div>
{% endblock %}

{% block _house_attachments_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _house_attachments_entry_widget %}
    <div class="form-group" id="block_{{ id }}">
        <div class="row">
            <div class="col-11">
                <div class="row">
                    <div class="col-3">
                        {{ form_widget(form.imageFile) }}
                        {{ form_errors(form.imageFile) }}
                    </div>
                    <div class="col-3">
                        {{ form_widget(form.description) }}
                        {{ form_errors(form.description) }}
                    </div>
                    <div class="col-3">
                        {{ form_widget(form.position) }}
                        {{ form_errors(form.position) }}
                    </div>
                    <div class="col-3">
                        {% set attachment = form.vars.data %}
                        {% if attachment %}
                            <img src="{{ vich_uploader_asset(attachment, 'imageFile') | imagine_filter('thumb100x64')  }}" alt="">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-1">
                <button type="button" data-action="delete" data-target="#block_{{ id }}" class="btn btn-danger">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>
    </div>
{% endblock %}