{% extends 'base.html.twig' %}

{% block title %}Latest houses{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            {{ form_start(search_form) }}
            <div class="form-row align-items-end">
                <div class="col-2">
                    {{ form_row(search_form.price) }}
                </div>
                <div class="col-2">
                    {{ form_row(search_form.minSurface) }}
                </div>
                <div class="col-6">
                    {{ form_row(search_form.options) }}
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Search</button>
                    </div>
                </div>
            </div>
            {{ form_end(search_form) }}

            <div class="form-row my-2">
                <div class="col-10">
                    <input class="form-control" id="searchInput" type="text" placeholder="Text search..">
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <h1>All houses</h1>
        <div class="row" id="houses">
            {% for house in paginator.getData() %}
                {% include 'partials/_house.html.twig' %}
            {% endfor %}
        </div>
        {{ paginator.render() }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
           $("#searchInput").on("keyup", function () {
                let value = $(this).val().toLowerCase();
                $("#houses .col").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                })
           })
        });
    </script>
{% endblock %}