{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn btn-success" type="submit">{{ btnText }}</button>
<a class="btn btn-secondary"  href="{{ path('admin_options_index') }}">Back to the list</a>
{{ form_end(form) }}